#loading{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(236, 235, 235);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}